Pg_host = localhost
PG_PORT=5432
Pg_user = postgres
Pg_password = postgres
Pg_database = postgres
Ch_host = localhost
Ch_port=8123
Ch_user = по умолчанию
Ch_password = пароль
Ch_database = по умолчанию
Airflow_uid=50000
Airflow_gid=0
Airflow_proj_dir =./Airflow
